* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Oxygen', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    max-width: 1200px;
    margin: 1em;
    /* padding: .5em; */

    border: 2px solid magenta;
}

.option-container {
    margin: 1em;
    padding: 1em;
    /* height: 600px;
    width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid blue;
}

.option-title,
.option-subtitle,
.option-img {
    margin-bottom: 1em;
}

.option-title {
    font-size: 1.6rem;
    font-weight: 700;
}

.option-img {
    object-fit: cover;
    width: 100%;
}